kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
  - role: control-plane
    extraPortMappings:
      - containerPort: 30080
        hostPort: 8000
        protocol: TCP
      - containerPort: 30030
        hostPort: 3000
        protocol: TCP
      - containerPort: 30501
        hostPort: 8501
        protocol: TCP
