apiVersion: v1
kind: Service
metadata:
  name: telemetry-backend
  namespace: telemetry-agent
spec:
  type: NodePort
  ports:
    - name: http
      protocol: TCP
      port: 8000
      targetPort: 8000
      nodePort: 30080
---
apiVersion: v1
kind: Service
metadata:
  name: telemetry-react
  namespace: telemetry-agent
spec:
  type: NodePort
  ports:
    - name: http
      protocol: TCP
      port: 3000
      targetPort: 3000
      nodePort: 30030
---
apiVersion: v1
kind: Service
metadata:
  name: telemetry-streamlit
  namespace: telemetry-agent
spec:
  type: NodePort
  ports:
    - name: http
      protocol: TCP
      port: 8501
      targetPort: 8501
      nodePort: 30501
